<!DOCTYPE html>
<html>
  <head>
    <title>Automated Assessment And Feedback</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap-grid.css">
    <link rel="stylesheet" href="/styles/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/styles/bootstrap-reboot.css">
    <link rel="stylesheet" href="/styles/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>
  <body>
    <div id="page-wrap">
      <header id="page-header" class="navbar navbar-expand-sm navbar-dark bg-dark flex-column flex-md-row justify-content-between">
        <a class="navbar-brand mr-0" href="/user/staff">Automated Assesment and Feedback</a>
        <div class="navbar-nav flex-row">
        </div>
      </header>

      <div id="main">
          <div class="col">
            <%- body %>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
